swagger: "2.0"
info:
  description: "This is a sample server Brew server."
  version: "1.0.0"
  title: "Punk Api"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "api.punkapi.com"
basePath: "/v2"
tags:
- name: "brews"
  description: "Everything about brews"
schemes:
- "https"
paths:
  /beers:
    get:
      tags:
      - "brews"
      summary: "get all beers"
      description: ""
      parameters:
      - name: "page"
        in: "query"
        type: "integer"
      - name: "per_page"
        in: "query"
        type: "integer"
      operationId: "getAllBeers"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: '#/definitions/Brew'
        404:
          description: "Beer not found"
    post:
      tags:
      - "brews"
      summary: "Create a new Beer"
      description: ""
      operationId: "CreateNewBeer"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Beer object that needs to be added to the server"
        required: true
        schema:
          $ref: '#/definitions/Brew'
      responses:
        405:
          description: "Invalid input"
          
  /beers/{beerId}:
    get:
      tags:
      - "brews"
      summary: "Find beer by ID"
      description: "Returns a single beer"
      operationId: "getBeerById"
      produces:
      - "application/json"
      parameters:
      - name: "beerId"
        in: "path"
        description: "ID of beer to return"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/Brew'
        400:
          description: "Invalid ID supplied"
        404:
          description: "Beer not found"
          
    put:
      tags:
      - "brews"
      summary: "Update an existing beer"
      description: ""
      operationId: "updateBeer"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "beerId"
        in: "path"
        description: "ID of beer to update"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "body"
        description: "Beer object that needs to be added to the server"
        required: true
        schema:
          $ref: '#/definitions/Brew'
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Beer not found"
        405:
          description: "Validation exception"
          
    delete:
      tags:
      - "brews"
      summary: "delete a beer"
      description: ""
      operationId: "deletBeer"
      produces:
      - "application/json"
      parameters:
      - name: "beerId"
        in: "path"
        description: "ID of beer to delete"
        required: true
        type: "integer"
        format: "int64"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Beer not found"

definitions:
  Brew:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      name:
        type: "string"
        example: "First Brew"
      first_brewed:
        type: "string"
      image_url:
        type: "string"
        format: "url"
      abv:
        type: "number"
        format: "float"
      description:
        type: "string"